.bookCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333;
  margin: 1rem;
  border-radius: 10px;
  width: 30%;
  min-height: 250px;
  position: relative;
}

.bookCard button {
  margin-right: 0.5rem;
}

.bookCard-header {
  border-radius: 10px 10px 0 0;
  text-align: left;
  padding: 2rem 1rem 1rem;
}
.bookCard-header h2 {
  line-height: 1.1;
}

.bookCard-content {
  text-align: left;
  padding: 0 1rem 1rem;
}

.bookCard-footer {
  border-top: 1px solid #dbdbdb;
  text-align: left;
  padding: 1rem;
}

.favIcon {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-size: 20px;
}
.price {
  font-size: 1.5rem;
  text-align: right;
}
.genre {
  font-size: 0.8rem;
  font-style: italic;
}

.stock {
  background-color: green;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 5px;
  color: white;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
}

.outOf {
  background-color: grey;
}

.secondary {
  color: #333;
  background-color: transparent;
  padding: 0 1rem 0 0;
  margin: 0;
  border-radius: none;
  font-weight: 500;
  border: none;
  display: inline-block;
  font-size: 0.9rem;
}

.secondary:hover {
  border: transparent;
  color: #1279cc;
  font-weight: 500;
  cursor: pointer;
}
